ul {
    width: 100%;
    padding: 5px;;
    background-color: #ddd;
}

li{
    display: inline;
    list-style: none;
    margin-right: 50px;
}

li:hover{
    color: hotpink;
    cursor: pointer;
}

.selected {
    background-color: lawngreen;
}