<ul>
  <li
    routerLink="/"
    routerLinkActive="selected"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Accueil
  </li>
  <li
    routerLink="/book"
    routerLinkActive="selected"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Book
  </li>
  <li
    routerLink="/library"
    routerLinkActive="selected"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Library
  </li>
  <li
    routerLink="/formulaire-template"
    routerLinkActive="selected"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Formulaire par le template
  </li>
  <li
    routerLink="/formulaire-code"
    routerLinkActive="selected"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Formulaire par le code
  </li>
</ul>
